version: '3.8'
services:
  postgres:
    image: postgres:13
    restart: always
    container_name: postgres-db
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "${DATABASE_PORT}:5432"
    networks:
      - app-network
  api:
    build:
      context: .
    container_name: assets-api
    image: assets-api
    env_file:
      - .env
    ports:
      - ${PORT}:${PORT}
    environment:
      - DATABASE_URL=${DATABASE_URL}
    depends_on:
      - postgres
    volumes:
      - ".:/src/"
      - "./node_modules:/src/node_modules"
    networks:
      - app-network
networks:
  app-network:
    driver: bridge

volumes:
  postgres-data:
    driver: local